<div class="grid-block vertical">

    <!-- <div class="grid-block shrink">
        <div class="grid-content">
            <div class="text large mono lh-onepfour">Signups</div>
        </div>
    </div> -->

    <!-- Signups -->
        <div class="grid-block shrink vertical reseller-list margin-one-left margin-one-right">
            <div ng-repeat="signup in signups track by $index" class="grid-content reseller padding-three-quarter-top padding-three-quarter-bottom">

                <div class="grid-block large-horizontal medium-horizontal small-vertical">
                    <!-- Start: Sale email & submission date -->
                    <div class="grid-block small-12 medium-5 large-6">
                        <div class="grid-content">
                            <div class="newlines"><span class="text small grey">Email:&nbsp;</span>{{signup.email}}</div>
                            <div ng-if="!partnerView" class="newlines"><span class="text small grey">Submitted by:&nbsp;</span>{{signup.creator.firstName}} {{signup.creator.lastName}}</div>
                            <div class="newlines"><span class="text small grey">Signup date:&nbsp;</span><span class="text small darkgrey">{{signup.date | date : 'EEEE, MMMM d, y'}}</span></div>
                        </div>
                    </div>
                    <!--   End: Sale email & submission date -->

                    <!-- Start: Approved/Declined/Pending Messages & creator -->
                    <div class="grid-block vertical small-12 medium-3 large-3">
                        <div class="grid-content text-center text small large-adjustment margin-half-top">
                            <div ng-if="signup.approved && !signup.declined" class="text green velocity-transition-fadeIn"><i class="fa fa-thumbs-o-up margin-half-right"></i>Approved</div>
                            <div ng-if="!signup.approved && signup.declined" class="text alert velocity-transition-fadeIn"><i class="fa fa-thumbs-o-down margin-half-right"></i>Declined</div>
                            <div ng-if="!signup.approved && !signup.declined" class="text blue"><i class="fa fa-circle-o margin-half-right"></i>Pending Approval</div>
                        </div>
                    </div>
                    <!--   End: Approved/Declined/Pending Messages & creator -->

                    <!-- Start: Delete, Approve/Decline actions -->
                    <div class="grid-block small-12 medium-4 large-3">
                        <div class="grid-content text-right large-adjustment">
                            <div ng-show="!signup.approved && !signup.declined" class="text small">
                                <span ng-click="approveTransaction(signup.id);" class="button small success no-select no-bottom-margin">
                                    <i class="fa fa-thumbs-o-up margin-one-quarter-right"></i>Approve
                                </span>
                                <span ng-click="declineTransaction(signup.id);" class="button small orange no-select no-right-margin no-bottom-margin">
                                    <i class="fa fa-thumbs-o-down margin-one-quarter-right"></i>Decline
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--   End: Delete, Approve/Decline actions -->
                </div>


            </div>
        </div>

</div>
