// Topbar styles
.topbar {
    background-color: $gs-sidebar-bg;
    height: 50px;
    max-height: 50px;
}

// Sidebar styles
.sidebar {
    background-color: $gs-sidebar-bg;
    max-width: 100px;
}


// New Tab system
.tabs {

    .tab {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        border-left: none;
        border-top: none;
        border-right: none;
        border-bottom: 2px solid #D0D0D0;
        color: #ABABAB;

        &.active {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-left: 1px solid #AACDE4;
            border-top: 1px solid #AACDE4;
            border-right: 1px solid #AACDE4;
            border-bottom: none;
        }

        &.active-two {
            border-bottom: 2px solid #AACDE4;
            color: $gs-sidebar-bg;
        }
    }
}



// User area for vert-sidebar
.user-area {
    position: absolute;
    top: 0;
    right: 0;
    width: 9rem;
    text-align: right;
    z-index: 998;


    // Notifications idea
    .notifications {
        padding: 0.75rem 1rem;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        width: 3rem;
        position: absolute;
        top: 0;
        right: 4.25rem;
        transition: all 0.2s;

        .notifications-header {
        }

        .notifications-list {
            height: 0;
            opacity: 0;
            overflow: hidden;
            transition: opactiy 0.2s;
        }

        &.show-notifications,
        &:hover {
            background-color: $gs-sidebar-text;
            width: 20rem;
            height: 30rem;
            max-height: 30rem;
            transition: all 0.2s;

            .notifications-header {
                .fa {
                    color: $gs-sidebar-bg;
                }
            }

            .notifications-list {
                height: 26rem;
                max-height: 26rem;
                margin-top: 0.5rem;
                opacity: 1;
                overflow: auto;
                transition: opacity 0.2s 0.3s;
            }
        }
    }


    // User actions dropdown
    .user-dropdown {
        padding: 0.75rem 0.75rem 0.75rem 1rem;

        .menu {
            position: absolute;
            top: 0;
            right: 0;
            overflow: hidden;
            height: 0;
            margin-top: 3rem;
            width: 12rem;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;

                // For testing the dropdown
                // background-color: $gs-sidebar-bg;
                // height: 5.8rem;

            .menu-item {
                padding: 0.75rem 1rem;
                border-bottom: 1px solid #3988be;
                color: $gs-sidebar-text;

                &:hover {
                    background-color: $gs-sidebar-hover-bg;
                    color: #FFF;
                }

                &:last-child {
                    border-bottom: none;
                }
            }


        }

        &:hover,
        &.show-menu {
            background-color: $gs-sidebar-bg;
            transition: all 0.15s;

            .fa {
                color: #FFF !important;
            }

            .menu {
                background-color: $gs-sidebar-bg;
                transition: all 0.15s 0.15s;
                height: 5.8rem;
            }
        }
    }
}
