---
name: home
url: /
---

<div class="grid-container vertical">

    <div class="grid-block align-center margin-one-top margin-one-bottom">
        <div class="grid-content shrink">
            <img src="https://s3.amazonaws.com/growsumo-dev/growsumo-logo/gs-logo-alpha-w-text.png" />
        </div>
    </div>

    <div class="grid-block align-center margin-one-top">
        <div class="grid-content shrink">
            <div ui-sref="verticalLayout" class="button large">Layout prototype 1</div>
            <div ui-sref="horizontalLayout" class="button large">Layout prototype 2</div>
        </div>
    </div>

</div>
