---
name: verticalLayout
url: /vert
controller: verticalLayout
---

<div class="grid-block">
    <div class="grid-block vertical sidebar" style="max-width: 100px;">
        <div class="grid-block shrink padding-three-quarter-top padding-three-quarter-bottom">
            <div class="grid-content">
                <img class="image-rounded-corner" src="https://s3.amazonaws.com/growsumo-dev/companyLogo/SRb8UXLj9PZ1TYpKvH5a.png" width="80" height="80">
            </div>
        </div>

        <div class="grid-block vertical margin-one-quarter-top actions-list">
            <div class="grid-block shrink action-item" ng-class="{'active': activeAction==1}" ng-click="activeAction=1;">
                <div class="grid-content padding-three-quarter-top padding-three-quarter-bottom text-center">
                    <i class="fa fa-users fa-fw text oneptwo"></i>
                    <div class="text small">Partners</div>
                </div>
            </div>

            <div class="grid-block shrink action-item" ng-class="{'active': activeAction==2}" ng-click="activeAction=2;">
                <div class="grid-content padding-three-quarter-top padding-three-quarter-bottom text-center">
                    <i class="fa fa-line-chart fa-fw text oneptwo"></i>
                    <div class="text small">Signups</div>
                </div>
            </div>

            <div class="grid-block shrink action-item" ng-class="{'active': activeAction==3}" ng-click="activeAction=3;">
                <div class="grid-content padding-three-quarter-top padding-three-quarter-bottom text-center">
                    <i class="fa fa-globe fa-fw text oneptwo"></i>
                    <div class="text small">Marketplace</div>
                </div>
            </div>
        </div>

        <div class="grid-block shrink align-bottom">
            <div class="grid-content padding-half-top padding-half-bottom text small cursor-pointer">
                <i class="fa fa-life-ring"></i>&nbsp;Support
            </div>
        </div>

    </div>


    <div class="grid-block vertical">

        <div class="user-area">
            <div class="block inline align-middle cursor-pointer notifications">
                <div class="notifications-header">
                    <i class="fa fa-fw fa-bell text lightgrey"></i>
                </div>

                <div class="reseller-list notifications-list">
                    <div class="padding-three-quarter-top padding-three-quarter-bottom reseller">hugging is the new selfie, it's like uber but for hugging.</div>
                    <div class="padding-three-quarter-top padding-three-quarter-bottom reseller">hugging is the new selfie, it's like uber but for hugging.</div>
                    <div class="padding-three-quarter-top padding-three-quarter-bottom reseller">hugging is the new selfie, it's like uber but for hugging.</div>
                    <div class="padding-three-quarter-top padding-three-quarter-bottom reseller">hugging is the new selfie, it's like uber but for hugging.</div>
                    <div class="padding-three-quarter-top padding-three-quarter-bottom reseller">hugging is the new selfie, it's like uber but for hugging.</div>
                    <div class="padding-three-quarter-top padding-three-quarter-bottom reseller">hugging is the new selfie, it's like uber but for hugging.</div>
                    <div class="padding-three-quarter-top padding-three-quarter-bottom reseller">hugging is the new selfie, it's like uber but for hugging.</div>
                </div>
            </div>

            <div ng-click="showMenu=!showMenu" class="block inline align-middle cursor-pointer user-dropdown" ng-class="{'show-menu': showMenu==true}">
                <div class="text uppercase profile-letter">U</div><i class="fa fa-angle-down text grey"></i>
                <div class="menu">
                    <div class="cursor-pointer menu-item"><i class="fa fa-fw fa-user margin-one-quarter-right"></i>Personal Profile</div>
                    <div class="cursor-pointer menu-item"><i class="fa fa-fw fa-sign-out margin-one-quarter-right"></i>Sign Out</div>
                </div>
            </div>
        </div>

        <!-- Start: Partners tab content -->
        <div ng-show="activeAction==1;" class="grid-block vertical padding-one-quarter-top">
            <div class="grid-block shrink margin-one-bottom">
                <div class="grid-block shrink padding-half-left padding-half-right tabs">
                    <div ng-click="partnerTab=1;" class="grid-content tab text large bold mono-link cursor-pointer" ng-class="{'active-two': partnerTab==1}">
                        Partners List
                    </div>
                    <div ng-click="partnerTab=2;" class="grid-content tab text large bold mono-link cursor-pointer" ng-class="{'active-two': partnerTab==2}">
                        Training Materials
                    </div>
                </div>
            </div>

            <div ng-show="partnerTab==1" class="grid-block vertical shrink">

                <!-- Title and Invite Partner button -->
                <div class="grid-block shrink">
                    <div class="grid-block margin-one-bottom">
                        <div class="grid-content text large mono lh-onepfour">
                            {{partners.length}} Partner<span ng-show="partners.length>1 || partners.length==0">s</span>
                        </div>
                    </div>

                    <div ng-hide="company.resellers.length == 0" class="grid-block shrink">
                        <div class="grid-content text-right">
                            <div ng-click="scrollToInvites();" class="button tiny no-right-margin no-bottom-margin text lh-onepfour">
                                <i class="fa fa-fw fa-plus"></i>&nbsp;Invite Partners
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-block vertical reseller-list">

                    <div ng-repeat="partner in partners" class="grid-block padding-half-top padding-half-bottom text lh-onepfour cursor-pointer blue-hover reseller">

                        <!-- Partner's Name & email -->
                        <div class="grid-block small-12 medium-5 large-3">
                            <div ng-click="openMessageBox(partner)" class="grid-content">
                                <div class="text uppercase profile-letter" ng-class="{'large-size': large}" ng-style="{'background-color':color}" >{{partner.firstName | limitTo: 1}}</div>
                                <div class="block inline align-middle" style="height: 25px; line-height: 25px;">{{partner.firstName}} {{partner.lastName}}</div>
                            </div>
                        </div>

                        <!-- Partners Messages -->
                        <div class="grid-block small-12 medium-2 large-2">
                            <div class="grid-content text-center">
                                <div ng-click="openMessageBox(partner)" ng-class="{'zero':partner.unreadMessages==0}"class="block inline text small message-notification new-message mono-bg" style="display: inline-block;">
                                    {{partner.unreadMessages}}
                                    <i class="fa fa-fw fa-comment"></i>
                                </div>
                            </div>
                        </div>

                        <!-- Partners Signups -->
                        <div class="grid-block small-12 medium-2 large-3">
                            <div class="grid-content text-left">
                                <div class="block inline text small mono num-signups">
                                    <span class="text grey">Last signup:</span>&nbsp;{{partner.lastTransaction}}
                                </div>
                            </div>
                        </div>

                        <div class="grid-block small-12 medium-3 large-4">
                            <div class="grid-content">
                                <div class="animated-delete no-select float-right" ng-class="{'expanded': showDelete}">
                                    <i ng-click="showDelete =! showDelete;" class="fa fa-fw fa-times text grey alert-hover cursor-pointer initiator"></i>
                                    <span ng-click="removePartner(company.id, partner.id)" class="action delete-action">Remove</span>
                                    <span ng-click="showDelete=false" class="action cancel-action">Cancel</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div ng-show="partnerTab==2" class="grid-block">
                <materials class="grid-block"></materials>
            </div>
        </div>
        <!--   End: Partner list tab content -->


        <!-- Start: Tracking tab content -->
        <div ng-show="activeAction==2;" class="grid-block vertical margin-one-quarter-top">
            <div class="grid-block shrink margin-one-bottom">
                <div class="grid-block shrink padding-half-left padding-half-right tabs">
                    <div ng-click="trackingTab=1;" class="grid-content tab text large bold mono-link cursor-pointer" ng-class="{'active-two': trackingTab==1}">
                        Signups Feed
                    </div>
                    <div ng-click="trackingTab=2;" class="grid-content tab text large bold mono-link cursor-pointer" ng-class="{'active-two': trackingTab==2}">
                        Setup Auto Tracking
                    </div>
                </div>
            </div>

            <div ng-show="trackingTab==1" class="grid-block vertical shrink">
                <signups class="grid-block"></signups>
            </div>
            <div ng-show="trackingTab==2" class="grid-block vertical shrink">
                <div class="grid-content">
                    **Setup auto-tracking guide here**
                </div>
            </div>
        </div>
        <!--   End: Tracking tab content -->


        <!-- Start: Tracking tab content -->
        <div ng-show="activeAction==3;" class="grid-block" style="margin-top: 3rem;">

            <div style="width: 100%;">
                <div class="grid-block shrink large-up-2">
                    <div ng-repeat="company in companies | orderBy: '-updated_at'" class="grid-block" style="width: 100%;">
                        <div class="grid-block card company-card cursor-pointer">
                            <div class="grid-block vertical">
                                <div class="grid-block shrink">
                                    <!-- Company Image -->
                                    <div class="grid-block shrink" ng-click="openCompany(company); ">
                                        <div class="company-card-img-wrapper">
                                            <img src="https://s3.amazonaws.com/growsumo-dev/{{company.img}}" alt="{{company.name}}">
                                            <div class="mask text-center"><i class="fa fa-external-link text white"></i></div>
                                        </div>
                                    </div>

                                    <!-- Company Information -->
                                    <div class="grid-block">
                                        <div class="grid-block">
                                            <div class="grid-content">
                                                <div class="block text lh-onepfour blue margin-one-quarter-top company-name newlines">{{company.name | limitTo: 25}}</div>
                                                <div class="block margin-one-quarter-top text lh-onepfour grey company-slogan newlines">{{company.slogan}}</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--   End: Tracking tab content -->



        <!-- Start: Selected partner panel -->
        <div zf-panel="" id="partnerPanel" position="bottom" style="height: 100%;">
            <a zf-close="" class="close-button" style="z-index: 9999;">×</a>

            <div class="grid-block">
                <!-- Start: Chat area -->
                <div class="grid-block vertical message-box-wrapper expanded">
                    <div class="grid-block shrink">
                        <div class="grid-content text large black padding-half-top padding-half-bottom box-title">
                            <div class="text mono lh-onepfour">
                                <div class="block inline align-middle text lh-onepfour">
                                    <span class="text grey">Partner:&nbsp;</span>
                                    {{selectedPartner.firstName}} {{selectedPartner.lastName}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="grid-block">
                        <div ng-show="messages.length > 0" class="grid-content message-list">
                            <div ng-repeat="message in messages | orderBy: 'created_at' track by $index" class="message">
                                <div ng-show="(!message.read && messages[$index-1].read) && ((fromCompany && !message.fromCompany)||(!fromCompany && message.fromCompany))" class="unreadMessagesLine margin-half-bottom padding-half-bottom text green">
                                    <i class="fa fa-chevron-circle-down margin-half-right lh-onepfour"></i> New Messages
                                </div>
                                <div class="message-content" ng-class="{'self': message.fromCompany, 'other': !message.fromCompany}">
                                    <div class="avatar">
                                        <div ng-hide="message.fromCompany" class="text uppercase profile-letter" ng-class="{'large-size': large}" ng-style="{'background-color':color}" >{{selectedPartner.firstName | limitTo: 1}}</div>
                                        <img ng-show="message.fromCompany" src="https://s3.amazonaws.com/growsumo-dev/companyLogo/SRb8UXLj9PZ1TYpKvH5a.png" width="25" height="25" alt="{{company.name}}">
                                    </div>
                                    <div class="message-details">
                                        <p>{{message.body}}</p>
                                        <div class="text tiny grey">{{message.created_at | date: 'MMM d, y h:mm a'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-show="messages.length == 0" class="grid-block message-list align-center align-items-center">
                            <div ng-click="focusInput();" class="grid-block shrink">
                                <div class="grid-content text massiv-bruh no-select cursor-pointer">
                                    <span ng-show="!fromCompany" class="text lightgrey">You should reach out to {{company.name}}</span>
                                    <span ng-show="fromCompany" class="text lightgrey">You should reach out to {{user.firstName}} {{user.lastName}}</span>
                                    <div class="text-center margin-one-top">
                                        <i class="fa fa-2x fa-hand-o-down text green velocity-callout-bounce" data-velocity-opts="{delay: 1000}" style="color: #93C762;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <form class="grid-block shrink collapse message-create" ng-submit="submit();">
                        <div class="grid-block">
                            <input ng-model="message.body" class="no-bottom-margin" id="messageCreate" ng-change="check()" type="text" placeholder="Say something">
                        </div>

                        <div class="grid-block shrink">
                            <button class="button small no-right-margin no-bottom-margin" style="padding-left: 1.125rem; padding-right: 1.125rem;"><i class="fa fa-send"></i></button>
                        </div>
                    </form>

                </div>
                <!--   End: Chat area -->

                <!-- Selected partner's profile -->
                <div class="grid-block vertical" style="max-width: 420px; border-left: 1px solid #E4E4E4; max-height: 100vh;">
                    <div class="grid-block shrink margin-one-top align-items-center">
                        <div class="grid-block shrink">
                            <div class="grid-content">
                                <div class="text uppercase profile-letter medium-size" ng-style="{'background-color':color}" >{{selectedPartner.firstName | limitTo: 1}}</div>
                            </div>
                        </div>
                        <div class="grid-block">
                            <div class="grid-content align-center align-middle collapse text-left">
                                <div class="">{{selectedPartner.firstName}} {{selectedPartner.lastName}}</div>
                                <div class="text medium darkgrey">{{selectedPartner.email}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="grid-block shrink margin-half-top margin-half-bottom">
                        <div class="grid-content">
                            <span class="text grey">Partner link:&nbsp;</span><span class="text mono-link underline thin cursor-pointer">https://dropbox.com/signups?partner=1234567890</span>
                        </div>
                    </div>

                    <div class="grid-block shrink vertical margin-one-top">
                        <div class="grid-block shrink margin-half-bottom">
                            <div ng-click="showSignups = true;" class="grid-content shrink text mono cursor-pointer">
                                <div class="block inline padding-half-left padding-half-right" style="padding-bottom: 0.125rem; border-bottom: 2px solid #A8C9E0;">
                                    Signups
                                </div>
                            </div>
                            <div ng-click="showSignups = false;" class="grid-content shrink text grey cursor-pointer" style="color: #ABABAB;">
                                <div class="block inline padding-half-left padding-half-right" style="padding-bottom: 0.125rem; border-bottom: 2px solid #D0D0D0;">
                                    Notes
                                </div>
                            </div>
                        </div>

                        <!-- Selected Partner's Signups -->
                        <div ng-show="showSignups" class="grid-block shrink vertical reseller-list margin-one-left margin-one-right">
                            <div ng-repeat="transaction in selectedPartner.transactions track by $index" class="grid-content collapse reseller">
                                <div class="block padding-three-quarter-top padding-three-quarter-bottom">
                                    <div class="text darkgrey">
                                        <span class="text black">{{transaction.name}}</span> on <span class="text black">{{transaction.created_at | date: 'MMM d, y h:mm a'}}</span>
                                    </div>
                                    <div class="text grey small">{{transaction.email}}</div>
                                </div>
                            </div>
                        </div>

                        <!-- Selected Partner's Notes -->
                        <div ng-hide="showSignups" class="grid-block shrink vertical reseller-list margin-one-left margin-one-right">
                            <div ng-repeat="note in selectedPartner.notes track by $index" class="grid-content collapse reseller">
                                <div class="block padding-three-quarter-top padding-three-quarter-bottom">
                                    <div class="text black">{{note.content}}</div>
                                    <div class="text grey small">{{note.created_at | date: 'MMM d, y h:mm a'}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--   End: Selected partner panel -->
    </div>
</div>
