<div class="grid-block vertical shrink">

    <!-- Title and Invite Partner button -->
    <div class="grid-block shrink">
        <div class="grid-block margin-one-bottom">
            <div class="grid-content text large mono lh-onepfour">
                {{partners.length}} Partner<span ng-show="partners.length>1 || partners.length==0">s</span>
            </div>
        </div>

        <div ng-hide="company.resellers.length == 0" class="grid-block shrink">
            <div class="grid-content text-right">
                <div ng-click="scrollToInvites();" class="button tiny no-right-margin no-bottom-margin text lh-onepfour">
                    <i class="fa fa-fw fa-plus"></i>&nbsp;Invite Partners
                </div>
            </div>
        </div>
    </div>

    <div class="grid-block vertical reseller-list">

        <div ng-repeat="partner in partners" class="grid-block padding-half-top padding-half-bottom text lh-onepfour cursor-pointer blue-hover reseller">

            <!-- Partner's Name & email -->
            <div class="grid-block small-12 medium-5 large-3">
                <div ng-click="openMessageBox(partner)" class="grid-content">
                    <div class="text uppercase profile-letter" ng-class="{'large-size': large}" ng-style="{'background-color':color}" >{{partner.firstName | limitTo: 1}}</div>
                    <div class="block inline align-middle" style="height: 25px; line-height: 25px;">{{partner.firstName}} {{partner.lastName}}</div>
                </div>
            </div>

            <!-- Partners Messages -->
            <div class="grid-block small-12 medium-2 large-2">
                <div class="grid-content text-center">
                    <div ng-click="openMessageBox(partner)" ng-class="{'zero':partner.unreadMessages==0}"class="block inline text small message-notification new-message mono-bg" style="display: inline-block;">
                        {{partner.unreadMessages}}
                        <i class="fa fa-fw fa-comment"></i>
                    </div>
                </div>
            </div>

            <!-- Partners Signups -->
            <div class="grid-block small-12 medium-2 large-3">
                <div class="grid-content text-left">
                    <div class="block inline text small mono num-signups">
                        <span class="text grey">Last signup:</span>&nbsp;{{partner.lastTransaction}}
                    </div>
                </div>
            </div>

            <div class="grid-block small-12 medium-3 large-4">
                <div class="grid-content">
                    <div class="animated-delete no-select float-right" ng-class="{'expanded': showDelete}">
                        <i ng-click="showDelete =! showDelete;" class="fa fa-fw fa-times text grey alert-hover cursor-pointer initiator"></i>
                        <span ng-click="removePartner(company.id, partner.id)" class="action delete-action">Remove</span>
                        <span ng-click="showDelete=false" class="action cancel-action">Cancel</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</div>
