<div class="grid-block vertical">

    <div class="grid-block shrink">
        <div class="grid-content">
            <div class="text large mono lh-onepfour">Training Materials</div>

            <ul ng-show="materials.length > 0" class="no-style no-left-spacing margin-one-bottom">
                <li ng-repeat="material in materials" class="material">

                    <span ng-click="download(material.isFile, material.url, material.id);" class="text blue green-hover cursor-pointer material-name">
                        <i ng-if="!material.isFile" class="fa fa-link margin-one-quarter-right"></i>
                        <i ng-if="material.isFile" class="fa fa-download margin-one-quarter-right"></i>
                        <span class="text underline">{{material.name}}</span>
                    </span>

                    <span class="float-right">
                        <div class="animated-delete no-select" ng-class="{'expanded': showDelete}">
                            <i ng-click="showDelete =! showDelete;" class="fa fa-fw fa-times text grey alert-hover cursor-pointer initiator"></i>
                            <span ng-click="deleteMaterial(material.id, $index);" class="action delete-action">Delete</span>
                            <span ng-click="showDelete = false;" class="action cancel-action">Cancel</span>
                        </div>
                    </span>

                </li>
            </ul>

            <div class="text grey margin-one-quarter-top margin-one-bottom">
                Upload marketing and training materials, blog posts and external links to help your partners promote your company
            </div>

        </div>
    </div>

    <!-- Uploading and Upload-successful message -->
    <div ng-show="uploading || uploadSuccess" class="grid-block velocity-opposites-transition-bounceIn  x-overflow-hidden">
        <div class="grid-content margin-one-bottom padding-one-top padding-one-bottom text large green no-select text-center  x-overflow-hidden">
            <div ng-show="uploading"><i class="fa fa-spin fa-spinner margin-one-quarter-right"></i>Uploading new materials</div>
            <div ng-show="uploadSuccess" class="velocity-opposites-transition-bounceIn  x-overflow-hidden"><i class="fa fa-check margin-one-quarter-right"></i>New materials successfully uploaded!</div>
        </div>
    </div>


    <!-- Upload area -->
    <div class="grid-block vertical upload-wrapper" style="background-color: #FDFDFD;">

        <!-- Learning Material Input Field -->
        <div class="grid-block vertical">

            <div class="grid-block">
                <div class="grid-content">
                    <label ng-show="materials!==''" for="companyCreateShareableURL" class="show-hide">
                        <span>Add URL(s)</span>
                        <span ng-show="errors.url!=='' && errors.url!==undefined" class="text warning float-right">{{errors.url}}</span>
                    </label>
                </div>
            </div>

            <div class="grid-block horizontal">
                <form class="grid-block" ng-submit="addURL();">
                    <div class="grid-content">
                        <input ng-model="shareableUrl" ng-change="check();" id="companyCreateShareableURL" type="text" placeholder="Shareable URL" />
                    </div>
                    <div class="grid-content shrink">
                        <button ng-disabled="!valid" class="button small success no-right-margin no-bottom-margin">Add URL</button>
                    </div>
                </form>
            </div>

        </div>


        <!-- File upload area  -->
        <div class="grid-block">
            <div class="grid-content">
                <span>Upload Material(s)</span>
                <div class="margin-half-top margin-one-bottom">
                    <div class="upload-area full-width text-center cursor-pointer">
                        <i class="fa fa-cloud-upload fa-2x text lightgrey margin-one-top padding-half-top"></i>
                        <div class="instruction-one text grey lh-onepfour">Drag &amp; drop or click to select</div>
                        <div class="instruction-two text grey lh-onepfour">Drop the file(s)</div>
                    </div>
                </div>

            </div>
        </div>

        <!-- New / To be uploaded materials -->
        <!-- <div ng-show="newMaterials.length > 0" class="grid-block margin-half-top margin-one-bottom">
            <div class="grid-content">
                <div class="text blue margin-half-bottom">Materials to be uploaded</div>
                <ul class="no-style margin-one-bottom">
                    <li ng-repeat="material in newMaterials" class="text darkgrey material">
                        <i ng-if="material.isFile" class="fa fa-download margin-half-right"></i>
                        <i ng-if="!material.isFile" class="fa fa-link margin-half-right"></i>
                        {{material.name}}
                        <i ng-click="removeNewMaterial($index);" class="fa fa-times text grey alert-hover cursor-pointer no-select float-right"></i>
                    </li>
                </ul>
            </div>
        </div> -->


        <!-- Upload Files -->
        <div class="grid-block">
            <div class="grid-content text-center">
                <button id="materials-upload-button" ng-click="uploadMaterials(newMaterials);" ng-disabled="uploading || newMaterials.length == 0" class="button large success no-right-margin no-bottom-margin">
                    <span ng-hide="uploading">Upload <span ng-show="newMaterials.length!==0">{{newMaterials.length}}</span> Materials</span>
                    <span ng-show="uploading"><i class="fa fa-spin fa-spinner margin-one-quarter-right"></i>Uploading {{newMaterials.length}} materials</span>
                </button>
            </div>
        </div>

    </div>

</div>
