
.button {
    @include border-radius(2px);

    &.no-bottom-margin {
        margin-bottom: 0;
    }

    &.no-right-margin {
        margin-right: 0;
    }

    // General Button styling overwrite
    border-bottom: 2px solid #3A7AB5;
    background-color: #328CC3;

    // Success Button styling overwrite
    &.success {
        border-bottom: 2px solid #329356;
        background-color: #3DB56A;
    }

    &[disabled] {
        background-color: #CCC;
        background: #CCC;
        border-bottom: 2px solid #CCC;

        &:hover {
            background-color: #CCC;
            background: #CCC;
            border-bottom: 2px solid #CCC;
        }
    }

    &.large {
        border-bottom-size: 3px;
        padding: 1rem 2rem;
    }

    // Custom Button styles
    &.orange {
        border-bottom: 2px solid #D5995C;
        background-color: #E1B07E;

        &:hover {
            border-bottom: 2px solid #AD763D;
            background-color: #AD763D;
        }
    }

    &.salmon {
        border-bottom: 2px solid #D0746F;
        background-color: #DD8B87;

        &:hover {
            border-bottom: 2px solid #B2534E;
            background-color: #B2534E;
        }
    }

}


// transparent button
.t-button, .ghost-button {
    background: transparent;
    background-color: transparent;
    padding: 0.25rem 1rem 0.25rem 0.75rem;
    border-width: 1px;
    border-style: solid;
    border-color: #C8C8C8;
    transition: all .25s ease-out;
    @include border-radius(3px);

    &.no-border {
        border-color: transparent;
    }
    &.no-padding {
        padding: 0;
    }
    &.more-padding {
        padding: 0.5rem 1rem;
    }
    &.white-border {
        border-color: #FFF;
    }
    &.blue-border {
        border-color: $gs-lightblue-hover;
    }
    &.thicker-border {
        border-width: 2px;
    }

    &.blue-hover {
        &:hover {
            border: 2px solid #328CC3;
            border-bottom: 2px solid #3A7AB5;
            background-color: #328CC3;
        }
    }
    &.green-hover {
        &:hover {
            border: 2px solid #3DB56A;
            border-bottom: 2px solid #329356;
            background-color: #3DB56A;
        }
    }
    &.orange-hover {
        &:hover {
            border: 2px solid #E1B07E;
            border-bottom: 2px solid #D5995C;
            background-color: #E1B07E;
        }
    }
    &.salmon-hover {
        &:hover {
            border: 2px solid #DD8B87;
            border-bottom: 2px solid #D0746F;
            background-color: #DD8B87;
        }
    }
}


// Delete/Remove buttons
.animated-delete {
    background-color: #ECECEC;
    height: 2rem;
    width: 2rem;
    overflow: hidden;
    transition: width linear 0.1s;
    @include border-radius(2px);

    .initiator {
        opacity: 1;
        width: 2rem;
        line-height: 1.4;
        margin: 0.25rem 0;
        text-align: center;
        transition: opacity linear 0.2s, width linear 0s;
        float: left;
    }

    .action {
        opacity: 0;
        transition: opacity linear 0.05s;
        transition-delay: 0s;
        cursor: pointer;
        height: 2rem;
        width: 4.5rem;
        padding: 0.5rem 0;
        text-align: center;
        vertical-align: middle;
        float: left;
        @extend .text.small;
        @extend .text.lh-onepfour;

        &.delete-action {
            background-color: $gs-alert;
            color: #FFF;
        }

        &.cancel-action {
            color: #999;

            &:hover {
                color: $gs-lightblue-hover;
            }
        }
    }

    &.expanded {
        width: 9rem;

        .initiator {
            opacity: 0;
            width: 0;
            transition: opacity linear 0.2s, width linear 0s;
        }

        .action {
            transition-delay: 0.1s;
            transition-duration: 0.1s;

            &.delete-action {
                opacity: 1;
            }

            &.cancel-action {
                opacity: 1;
            }
        }

    }
}
