// Inbox/Messages Styling
.message-box-wrapper {
    height: 0;
    opacity: -1;
    transition: all 0.3s;

    &.expanded {
        height: 100vh;
        opacity: 1;
        transition: all 0.3s;
    }
}


// Box close button
.box-close {
    padding: 0.25rem 0 0.3rem;
}



// Inbox title
.box-title {
    background-color: #FFF;
    border-bottom: 1px solid #E4E4E4;

    .company img {
        @include border-radius(3px)
    }
}

// Message list
.message-list {
    list-style: none;
    background: #F4F4F4;
    margin: 0;

    .message {
        padding: 0.5rem;
        overflow: hidden;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;

        // unread message line
        .unreadMessagesLine{
            width: 100%;
            display: flex;
            border-bottom: 1px solid $gs-green;
        }

        .message-content {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
        }
    }

    .avatar {
        width: 40px;
        min-width: 40px;
        position: relative;

        img {
            // background-color: #FFF;
            display: block;
            width: 100%;
        }
    }
}

.message-details {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(black, 0.2);

    p {
        font-size: 0.8rem;
        margin: 0 0 0.2rem 0;
    }

    time {
        font-size: 0.7rem;
        color: #ccc;
    }
}

.other {
    .avatar {
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            border: 5px solid white;
            border-left-color: transparent;
            border-bottom-color: transparent;
        }
    }
}

.self {
    justify-content: flex-end;
    align-items: flex-start;

    .messages {
        order: 1;
        border-bottom-right-radius: 0; // weird shadow fix
    }

    .avatar {
        order: 2;

        &:after {
            content: "";
            position: absolute;
            top: 0px;
            left: -1rem;
            width: 0;
            height: 0;
            border: 5px solid white;
            border-right-color: transparent;
            border-bottom-color: transparent;
        }
    }

    .message-details {
        border-top-right-radius: 0;
        margin-right: 1rem;
    }
}


// Message create styles
.message-create {

    [type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
        border: none;
        border-top: 1px solid #E4E4E4;
        @include border-radius(0);

        &:focus {
            background-color: #FFFDD7;
        }
    }

    .button, button {
        border: none;
        @include border-radius(0);
    }
}
