// _colors.scss
// Description: Used for storing the colors used throughout the project.

$gs-green: rgb(142, 204, 17);
$gs-navyblue: rgb(0, 0, 93);
$gs-aqua: rgb(52, 204, 167);
$gs-lightblue: rgb(184, 204, 229);

/* General Colors */
$gs-lightblue-alt: #008cba;
$gs-lightblue-hover: #0078a0;
$gs-lightgreen: #9BD367;
$gs-green: #88C84B;
$gs-grey: #dadada;
$gs-green-hover: #7BB446;
$gs-warning: #F39C12;
$gs-warning-hover: darken($gs-warning, 15%);
$gs-alert: #C22625;
$gs-alert-hover: darken($gs-alert, 10%);
$gs-salmon: #dd8e87;
$gs-orange-red: #ef5b38;
$gs-dark-orange: #BE5204;
$gs-brown: #76441B;

// Sidebar specific colors
// $gs-sidebar-bg: #2B435F;
$gs-sidebar-bg: #347DAE;
$gs-sidebar-text: #C9D9EC;
$gs-sidebar-action-border: #4789B6;
$gs-sidebar-active-bg: #3DB0F0;
$gs-sidebar-hover-bg: #4095D5;

// Border Colors
$gs-border-lightgrey: #E5E5E5;

/* Background Colors */
$gs-background-grey: #F1F1F1;
$gs-background-sidebar: #053040;
$gs-background-notification-blue: #E5F0F4;
$gs-background-notification-yellow: #FFFFF2;
$gs-background-notification-yellow-alt: #FFFFED;
$gs-background-notification-red: #FFF3F2;
