// Company Actions List
.actions-list {

    .action-item {
        border-top: 1px solid lighten($gs-sidebar-bg, 4%);
        color: $gs-sidebar-text;
        @extend .cursor-pointer;

        .fa {
            line-height: 1.4;
        }

        &:hover, &:active, {
            background-color: $gs-sidebar-hover-bg;
            color: #FFF;
            transition: all 0.15s;
        }

        &.active {
            background-color: $gs-sidebar-active-bg;
            color: #FFF;
            cursor: default;
        }

        &:last-child {
            border-bottom: 1px solid lighten($gs-sidebar-bg, 4%);
        }
    }
}


.image-rounded-corner {
    @include border-radius(3px);
}


// Profile Letter
.profile-letter {
    background-color: #4498D0;
    color: #FFF;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin-right: 0.25rem;
    text-align: center;
    vertical-align: middle;
    width: 25px;
    @extend .text.small;
    @extend .no-select;
    @extend .cursor-default;
    @include border-radius(50%);

    &.large-size {
        width: 10rem;
        height: 10rem;
        font-size: 6rem;
        line-height: 10rem;
        margin-right: 0;
    }

    &.medium-size {
        width: 3rem;
        height: 3rem;
        font-size: 1.25rem;
        line-height: 3rem;
        margin-right: 0;
    }
}


// Reseller list styles
.reseller-list {
    .reseller {
        border-bottom: 1px solid #E7E7E7;

        &:last-child {
            border-bottom: none;
        }

        .message-notification {
            background-color: #ECECEC;
            color: #333;
            padding: 0.25rem 0.5rem;
            @include border-radius(10px);

            &.new-message {
                background-color: $gs-green;
                color: #FFF;
            }
            &.zero {
                background-color: $gs-grey;
            }
        }
    }
}



// Materials styling
// Single Material Styling
.material {
    display: block;
    height: 3rem;
    border-bottom: 1px solid #ECECEC;
    padding: 0.5rem 1rem;

    .material-name {
        line-height: 2rem;
    }

    &:last-child {
        border-bottom: none;
    }
}

// Upload Area Styling
.upload-wrapper {
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
    padding: 1rem 1rem;
}

.close-button.material-upload-close {
    top: 2rem;
    font-size: 1.5rem;
}



// Company card
.company-card {
    background-color: #fff;
    max-height: 100px;
    margin-bottom: 2px;
    @include border-radius(3px);

    .card-section {
        padding: 0.25rem 0.5rem;
    }

    &.expandable {
        max-height: 300vh;
    }

    &:hover, &:active {

        .company-name {
            color: $gs-green;
        }

        .company-card-img-wrapper .mask {
            opacity: 1;
            background-color: rgba(117, 181, 55, 0.7);
        }
    }
}

.company-actions {
    height: 24px;
    width: 150px;
    padding-right: 7px;
    padding-top: 3px;

    position: absolute;
    bottom: 0;
    right: 0;

    &.alt {
        position: relative;
        width: 100%;
        padding: 0;
    }
}

.company-card-img-wrapper {
    .mask {
        background-color: rgba(117, 181, 55, 0);
        opacity: 0;
        overflow: visible;

        width: 100px;
        height: 98px;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;

        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        transition: all 0.3s linear;

        @include border-top-left-radius(3px);
        @include border-bottom-left-radius(3px);

        .fa {
            font-size: 1.25rem;
            margin-top: 2.5rem;
        }

    }
}


.company-card img,
.company-card-img {
    border: none;
    width: 100px;
    max-width: 100px;
    height: 98px;
    max-height: 100px;
    @include border-top-left-radius(3px);
    @include border-bottom-left-radius(3px);

    &.extended {
        width: 100px;
        max-width: 100px;
        height: 100px;
        max-height: 100px;
    }
}


.company-expanded-content {
    overflow-y: auto;
}

.company-name {
    font-size: 1.25rem;

    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.company-slogan {
    font-size: 0.9rem;
}
