// Global styles


.grid-block, .grid-frame, .large-grid-block, .medium-grid-block, .small-grid-block {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
}


// Aligning flex items center
.align-items-center {
    align-items: center;
}


// Override for grid-container
.grid-container {
    max-width: 62.5rem;

    &.full-width {
        width: 100%;
    }
}


// Overflow-classes
.overflow-hidden {
    overflow: hidden;
}
.x-overflow-hidden {
    overflow-x: hidden;
}


// Block classes
.block {
    display: block;

    &.inline {
        display: inline-block;
    }

    &.center {
        margin: 0 auto;
    }
}

.align-middle {
    vertical-align: middle;
}

.mono-bg {
    background-color: #65ABDA !important;
}


.sidebar {
    background-color: $gs-sidebar-bg;
    color: #FFF;
    width: 220px;
    max-width: 220px;

    .sidebar-action {
        padding: 1rem 1rem;
        border-bottom: 1px solid $gs-sidebar-action-border;

        .fa {
            margin-right: 0.25rem;
        }

        &:hover {
            background-color: $gs-sidebar-hover-bg;
            cursor: pointer;
        }

        &.active {
            background-color: #3DB0F0;

            &:hover {
                cursor: default;
            }
        }
    }
}
