// Input Margin Classes
[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
    transition: all linear 0.15s;

    &.no-bottom-margin {
        margin-bottom: 0;
    }

    &:focus {
        background-color: #FFFEF3;
    }
}


// Inline Checkboxes/Radio Buttons
input[type="checkbox"]+label, input[type="radio"]+label {
    line-height: 1rem;
    vertical-align: top;
}


// Labels - no-margin class
label.no-bottom-margin {
    margin-bottom: 0;
}


// Floating Labels
.field {
    position: relative;
    margin-bottom: 1rem;

    &.has-note {
        margin-bottom: 0.25rem;
    }

    &.add-bottom-padding {
        margin-bottom: 2rem;
    }

    &.no-bottom-margin {
        margin-bottom: 0;
    }

    & > label {
        position: absolute;
        top: -16px;
        color: #428bca;
        font-size: 0.8em;
        width: 100%;
    }
    & > input,
    & > textarea {
        line-height: 1.4;
        margin-top: 15px;
        margin-bottom: 0;
        padding: 0.5em 0.25rem !important;
        resize: none;
        transition: all linear 0.2s;
        @include border-radius(2px);

        &::-webkit-input-placeholder { font-style: italic; }
        &::-moz-placeholder { font-style: italic; }
        &:-ms-input-placeholder { font-style: italic; }
        &:-moz-placeholder { font-style: italic; }

        &.no-bottom-margin {
            margin-bottom: 0;
        }
        &.no-top-margin {
            margin-top: 0;
        }

        &.error {
            border-color: $gs-warning;
        }
        &.success {
            border-color: $gs-green;
        }
    }

    .input-note {
        height: 1rem;
    }


    .show-hide.ng-hide-add, .show-hide.ng-hide-remove {
        -webkit-transition: all linear 0.2s;
        -moz-transition: all linear 0.2s;
        transition: all linear 0.2s;
        display: block !important;
        position: absolute;
    }

    .show-hide.ng-hide-add.ng-hide-add-active,
    .show-hide.ng-hide-remove {
        top: -8px;
        display: block !important;
        position: absolute;
        opacity: 0;

    }

    .show-hide.ng-hide-add,
    .show-hide.ng-hide-remove.ng-hide-remove-active {
        top: -14px;
        opacity: 1;
        display: block !important;
        position: absolute;
    }

}


// General Success state for creation forms
.success-state {
    // background-color: green;
    background-color: rgba(0, 134, 12, 0.8);
    background-color: rgb(44, 140, 44);
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10003;

    &.fixed {
        position: fixed;
    }

    .success-message {
        width: 90%;
    }

}
.success-height-adjust {
    height: 100vh;
    overflow-y: hidden;
}


// custom checkbox
.custom-checkbox {
    background-color: #FFF;
    border: 1px solid #328CC3;
    color: #328CC3;
    font-size: 0.9rem;
    padding: 0.375rem 0.75rem 0.375rem 0.5rem;
    @include border-radius(2px);

    &.checked {
        background-color: #328CC3;
        color: #FFF;

        .fa {
            color: #FFF
        }
    }

}



// Upload area styling
.upload-area {
    border: 2px dashed #D0D0D0;
    min-height: 100px;
    @include border-radius(3px);

    &.full-width {
        display: block;
        width: 100%;
    }

    .instruction-one {
        display: block;
    }
    .instruction-two {
        display: none;
    }

    .dragover {
        border-color: $gs-green-hover;

        .instruction-one {
            display: none;
        }
        .instruction-two {
            display: block;
        }
    }
}


// Cancel Link
.cancel-link {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2rem;
    @extend .text.small;
    @extend .text.grey;
    @extend .text.alert-hover;
    @extend .cursor-pointer;
    @extend .no-select;

    &.no-right-margin {
        margin-right: 0;
    }

    &.lightgrey {
        @extend .text.lightgrey;
    }

}


// Date Selector
.date-selector {
    line-height: 1.4;
    margin-top: 15px;
    padding: 0.5em 0.25rem !important;
    resize: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #bbb;
    background: #fff;
    color: #000;

    .fa-calendar {
        color: #999;
        float: right;
        line-height: 1.4;
        margin-right: 0.5rem;
    }

    &:hover {
        .fa-calendar {
            color: $gs-lightblue-hover;
        }
    }
}


// Tab selector
.tab-selector {
    display: flex;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 1.25rem;

    .tab-title {
        color: #AEC0D1;
        font-size: 0.9rem;
        display: inline-block;
        vertical-align: middle;
        margin-right: 2rem;

        .fa {
            display: none;
        }

        &:hover, &:active {
            color: #3C5776;
        }

        &.active {
            color: #DFAB5B;

            .fa {
                display: block;
            }

            &:hover, &:active {
                color: #E3B989;
            }
        }
    }
}
