// == Margins ==

// 1 REM
.margin-one-top {
    margin-top: 1rem;
}
.margin-one-bottom {
    margin-bottom: 1rem;
}
.margin-one-left {
    margin-left: 1rem;
}
.margin-one-right {
    margin-right: 1rem;
}

// 0.5 REM
.margin-half-top {
    margin-top: 0.5rem;
}
.margin-half-bottom {
    margin-bottom: 0.5rem;
}
.margin-half-left {
    margin-left: 0.5rem;
}
.margin-half-right {
    margin-right: 0.5rem;
}

// 0.75 REM
.margin-three-quarter-top {
    margin-top: 0.75rem;
}
.margin-three-quarter-bottom {
    margin-bottom: 0.75rem;
}
.margin-three-quarter-left {
    margin-left: 0.75rem;
}
.margin-three-quarter-right {
    margin-right: 0.75rem;
}

// 0.25 REM
.margin-one-quarter-top {
    margin-top: 0.25rem;
}
.margin-one-quarter-bottom {
    margin-bottom: 0.25rem;
}
.margin-one-quarter-left {
    margin-left: 0.25rem;
}
.margin-one-quarter-right {
    margin-right: 0.25rem;
}


// == Padding ==

// 1 REM
.padding-one-top {
    padding-top: 1rem;
}
.padding-one-bottom {
    padding-bottom: 1rem;
}
.padding-one-left {
    padding-left: 1rem;
}
.padding-one-right {
    padding-right: 1rem;
}

// 0.5 REM
.padding-half-top {
    padding-top: 0.5rem;
}
.padding-half-bottom {
    padding-bottom: 0.5rem;
}
.padding-half-left {
    padding-left: 0.5rem;
}
.padding-half-right {
    padding-right: 0.5rem;
}

// 0.75 REM
.padding-three-quarter-top {
    padding-top: 0.75rem;
}
.padding-three-quarter-bottom {
    padding-bottom: 0.75rem;
}
.padding-three-quarter-left {
    padding-left: 0.75rem;
}
.padding-three-quarter-right {
    padding-right: 0.75rem;
}

// 0.25 REM
.padding-one-quarter {
    padding: 0.25rem;
}
.padding-one-quarter-bottom {
    padding-bottom: 0.25rem;
}
.padding-one-quarter-top {
    padding-top: 0.25rem;
}
.padding-one-quarter-left {
    padding-left: 0.25rem;
}
.padding-one-quarter-right {
    padding-right: 0.25rem;
}
