// _typography.scss
// Description: Typography specific styling

// Text select colors
::selection {
  background: #D4EDFF;
}
::-moz-selection {
  background: #D4EDFF;
}

// Font Overrides
body, span, p, a {
    font-family: 'museo-sans-rounded', sans-serif;
    font-weight: 500;
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'museo-sans-rounded', sans-serif;
    font-weight: 700;
}

.montserrat {
    font-family: 'museo-sans-rounded', sans-serif;

    &.thin {
        font-weight: 300;
    }

    &.lesser-spacing {
        letter-spacing: -1px;
    }

    &.bold {
        font-weight: 700;
    }
}

a, a:visited {
    color: $gs-lightblue-hover;
    line-height: 1.4;
    cursor: pointer;

    &:hover {
        color: $gs-green;
    }
}

// !text-select class
.no-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// text-select-enable class
.selectable {
    -moz-user-select: text !important;
    -khtml-user-select: text !important;
    -webkit-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}

// Text classes: colors, hover-colors, size, line-height, styling
.text {

    &.lightgrey{
        color: #D7D7D7;
    }
    &.grey {
        color: #A4A4A4;
    }
    &.darkgrey {
        color: #8D8D8D;
    }
    &.white {
        color: #FFFFFF;
    }
    &.black {
        color: #000000;
    }
    &.black-hover {
        &:hover, &:focus {
            color: #000000;
        }
    }
    &.blue {
        color: $gs-lightblue-hover;
    }
    &.blue-hover, &.text-blue-hover {
        &:hover {
            color: darken($gs-lightblue-hover, 5%);
        }
    }
    &.green {
        color: $gs-green;
    }
    &.green-hover {
        &:hover {
            color: darken($gs-green, 7.5%);
        }
    }
    &.warning {
        color: $gs-warning;
    }
    &.warning-hover {
        &:hover, &:focus {
            color: darken($gs-warning, 7.5%);
        }
    }
    &.alert {
        color: $gs-alert;
        margin: 0;
        padding: 0;
    }
    &.alert-hover {
        &:hover, &:focus {
            color: darken($gs-alert, 7.5%);
        }
    }
    &.salmon {
        color: #DD8B87;
    }
    &.salmon-hover {
        &:hover {
            color: #B2534E;
        }
    }
    &.orange {
        color: #E1B07E;
    }
    &.orange-hover {
        &:hover {
            color: #AD763D;
        }
    }
    &.brown {
        color: $gs-brown;
    }
    &.dark-orange {
        color: $gs-dark-orange;
    }
    &.sidebar-text {
        color: $gs-sidebar-text;
    }

    &.mono-link {
        color: $gs-sidebar-bg;

        &.active {

        }

        &:hover {
            color: darken($gs-sidebar-bg, 5%);
        }
    }
    &.mono {
        color: $gs-sidebar-bg;
    }


    &.tinyer {
        font-size: 0.625rem;
    }
    &.tiny {
        font-size: 0.75rem;
    }
    &.small {
        font-size: 0.8125rem;
    }
    &.one {
        font-size: 1rem;
    }
    &.onepone {
        font-size: 1.1rem;
    }
    &.oneptwo {
        font-size: 1.2rem;
    }
    &.medium {
        font-size: 0.95rem;
    }
    &.large {
        font-size: 1.25rem;
    }
    &.larger {
        font-size: 1.375rem;
    }
    &.massiv-bruh {
        font-size: 1.618rem;
    }


    &.lh-one {
        line-height: 1;
    }
    &.lh-oneptwo {
        line-height: 1.2;
    }
    &.lh-onepfour {
        line-height: 1.4;
    }

    &.italic {
        font-style: italic;
    }

    &.bold {
        font-weight: 600;
    }

    &.medium-bold {
        font-weight: 700;
    }

    &.ultra-bold {
        font-weight: 800;
    }

    &.uppercase {
        text-transform: uppercase;
    }

    &.underline {
        text-decoration: underline;
    }
}

// Styling for newline displaying
.newlines {
    white-space: pre-line;
    word-wrap: break-word;
}


// Cursor styles
.cursor-pointer {
    cursor: pointer;
}
.cursor-default {
    cursor: default;
}


// List style adjustments
ul {
    margin-top: 0;

    &.no-style {
        list-style: none;
    }
    &.lesser-padding {
        padding-left: 1rem;
    }

    &.no-left-spacing {
        margin-left: 0;
        padding-left: 0;
    }
}
